In [29]:
mdp = "Tsvkhdg8!"

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [20]:
df = pd.read_csv('modified_auth_user.csv', header = None)

In [21]:
df = df.iloc[:,[1,2,3]]
df

             1                        2                       3
0   23aldaveto  Carlos Felipe Sebastián           Aldave Torres
1   23alsabbag                     Sami               Alsabbagh
2    23bernard                 Foucault                 BERNARD
3    23benamor                    Ahmed                Ben Amor
4     23brandi              Lucas Dario                  Brandi
5   23cespedes          Samara Gabriela       CESPEDES AFANADOR
6      23cisse                  Mamadou                   Cisse
7     23deteix                   Joseph                  Deteix
8   23gamainda                    Louis            GAMAIN DAUGE
9     23gounot                   Victor                  GOUNOT
10   23gressel                Charlotte                 GRESSEL
11        23gu                    Zihan                      Gu
12     23hamon                 Clémence                   HAMON
13    23haouel                     Anas                  HAOUEL
14  23hchaichi                   Farouk                HCHAICHI
15  23herreras            Julian Camilo       HERRERA SEPULVEDA
16    23haddad                  Anthony                  Haddad
17       23han                    Yufan                     Han
18     23huang                    Zehan                   Huang
19  23hurtadoj             Jordy Steven         Hurtado Jimenez
20   23jeannin                 Gauthier                 JEANNIN
21  23jessenne                   Martin                JESSENNE
22    23kassem           Mohammad Mahdi                  KASSEM
23    23lahoud                    Alice                  LAHOUD
24       23liu                    Zilin                     Liu
25     23njeim                    Ralph                   Njeim
26       23pic            Leith-Auguste                     Pic
27     23ramos                  Gabriel                   RAMOS
28  23raymondj                    Solal             RAYMONDJEAN
29   23reynaud                  Aurélie                 Reynaud
30  23ribeirod                      Ian  Ribeiro de Faria Leite
31    23samaha                    Kevin                  Samaha
32  23tamburro                   Jeanne                TAMBURRO
33  23vegavale                  Valeria         VEGA VALENZUELA
34      23wang                   Yibing                    WANG
35    23yousef               Haidar Ali                  Yousef
36     23zhang                   Liting                   Zhang
37      23zhou                  Lechuan                    Zhou
38   23testast                     Jean                  Dupont

In [ ]:

for i in range(len(df)):
    login, prenom,nom = df.iloc[a]
    session = requests.Session()
    url = 'http://10.20.1.30/octogone/login.php'
    log = {"login" : "23allard", "mdp" : mdp }
    client = {"login" : login, "nom" : nom, "prenom" : prenom}
    url2 = 'http://10.20.1.30/octogone/admin/ajout_client.php'
    response = session.post(url, data=log)
    response2 = session.post(url2, data=client)

In [38]:
login, nom, prenom = 'test1', 'test2','test3'
session = requests.Session()
url = 'http://10.20.1.30/octogone/login.php'
log = {"login" : "23allard", "mdp" : mdp }

response = session.post(url, data=log)
url2 = 'http://10.20.1.30/octogone/admin/ajout_client.php'
doc = session.get(url2)
client = {"login" : login, "nom" : nom, "prenom" : prenom, "surnom":'', "solde_octo":'0', "solde_biero":'0'}
response2 = session.post(url2, data=client)

In [27]:
for a in range (len(df)):
    login, p, n = df.iloc[a]
    print(login)

23aldaveto
23alsabbag
23bernard
23benamor
23brandi
23cespedes
23cisse
23deteix
23gamainda
23gounot
23gressel
23gu
23hamon
23haouel
23hchaichi
23herreras
23haddad
23han
23huang
23hurtadoj
23jeannin
23jessenne
23kassem
23lahoud
23liu
23njeim
23pic
23ramos
23raymondj
23reynaud
23ribeirod
23samaha
23tamburro
23vegavale
23wang
23yousef
23zhang
23zhou
23testast