In [37]:
mdp = "Tsvkhdg8!"

In [38]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:

def construction(annee):
    session = requests.Session()
    url = 'http://10.20.1.30/octogone/login.php'
    url2 = 'http://10.20.1.30/octogone/recherche.php?year=' + annee + '&first_letter=a&second_letter=z'
    log = {"login" : "23allard", "mdp" : mdp }
    response = session.post(url, data=log)
    doc = session.get(url2)
    soup = BeautifulSoup(doc.text, 'html.parser')
    clients = {"id": [], "solde" : [], "infos_sup" : []}
    client_elements = soup.find_all(class_="client")
    for client_element in client_elements:
        pid = client_element.find('h3').text
        if pid != 'Suivants':
            infos = client_element.find('p').text
            if infos[-12:] == 'Biero\n\t\t\t\t\t\t':
                infos = infos[:-22]
            solde = infos [-7:-1]
            if solde[0] == ' ':
                solde = solde[1:]
            if solde[0] == ':':
                solde = solde[1:]
            clients["id"].append(pid)
            clients["solde"].append(float(solde))
            clients["infos_sup"].append(infos[4:])
    df = pd.DataFrame.from_dict(clients)
    df = df.set_index("id")
    session.close()
    return df

In [3]:
for i in range (16,24):
    df = construction(str(i))
    df = df[df["solde"] < 0]
    df = df.assign(num=None)
    df = df.assign(num_bool=None)
    url3 = "https://www.eleves.mines-paris.eu/accounts/login/"
    session = requests.Session()
    session.get(url3)
    token = session.cookies['csrftoken']
    log = { "csrfmiddlewaretoken" : token, "username" : "23allard", "password" : mdp }
    session.post(url3, data=log, headers=dict(Referer=url3))
    for id in df.index :
        url = "https://www.eleves.mines-paris.eu/people/" + id
        doc = session.get(url)
        soup = BeautifulSoup(doc.text, 'html.parser')
        content = soup.find(id = "content")
        if content != None:
            num = content.find_all('p')[3].text[12:]
            df.loc[id, "num"] = num
            df.loc[id, "num_bool"] = (len(num) == 14)
    df.to_csv(str(i) + '.csv')

In [15]:
df = pd.read_csv('19.csv')
df["solde"].sum()

-259.5

In [48]:
df = pd.read_csv('Version_18_10_2024.csv', encoding='unicode_escape')
df.set_index('Id', inplace = True)

In [49]:
df = df.assign(num=None)
df = df.assign(num_bool=None)
url3 = "https://www.eleves.mines-paris.eu/accounts/login/"
session = requests.Session()
session.get(url3)
token = session.cookies['csrftoken']
log = { "csrfmiddlewaretoken" : token, "username" : "23allard", "password" : mdp }
session.post(url3, data=log, headers=dict(Referer=url3))
for id in df.index:
    url = "https://www.eleves.mines-paris.eu/people/" + id
    doc = session.get(url)
    soup = BeautifulSoup(doc.text, 'html.parser')
    content = soup.find(id = "content")
    if content != None:
        num = content.find_all('p')[3].text[12:]
        df.loc[id, "num"] = num
        df.loc[id, "num_bool"] = (len(num) == 14)

In [50]:
df

             Solde             num num_bool
Id
16alfarool    -4.5              ""    False
16ayhan       -5.0  06 15 47 38 98     True
16blanchet    -3.0  06 34 69 30 04     True
16boudy       -2.5               0    False
16girod       -4.0               9    False
...            ...             ...      ...
i22sarpy      -5.5            None     None
i23blachon    -2.5  06 37 41 94 87     True
i23chalayer  -10.0              ne    False
i23villette  -33.0  07 51 60 48 13     True
i24roux       -9.0  06 69 76 35 72     True

[254 rows x 3 columns]

In [51]:
df[df['num_bool']==True].count()

Solde       170
num         170
num_bool    170
dtype: int64

In [52]:
len(df)

254

In [53]:
df[df['num_bool']==False]

             Solde            num num_bool
Id
16alfarool    -4.5             ""    False
16boudy       -2.5              0    False
16girod       -4.0              9    False
16grosskop    -2.0             ""    False
16orsonica    -7.5             ""    False
17llamaslo   -10.0           None    False
17masson      -2.5   actuelles :     False
17mhader      -7.5              6    False
17romeoveg   -10.0           None    False
18bader       -5.0           None    False
18moret       -6.5           None    False
18sandront    -2.5           None    False
18valade     -22.5           None    False
19avice       -2.0           None    False
19huamanbe   -16.0           None    False
19partarri    -5.0          6/PAM    False
19planche    -24.5           None    False
19romerafl    -5.5              M    False
20kim         -0.5              1    False
20meunier     -3.0              2    False
20perdrize    -0.5              9    False
20rochapar    -8.0           None    False
20toulemon    -2.0              9    False
21antisfor    -3.0           None    False
21bessy       -5.0                   False
21etienne     -4.0              7    False
21leesco      -2.5           None    False
21morand      -9.0           None    False
21roscelli    -2.0           None    False
21taniguch   -16.5           None    False
21zhou       -12.0           None    False
22bost        -6.5              2    False
22degracia   -12.0           None    False
22duchesne    -1.5              M    False
22emery       -1.5           None    False
22garnier     -2.5          6 BDL    False
22jaimehin    -2.5           None    False
22thomas      -1.5           None    False
22zhu         -7.5              0    False
23banessy    -13.0              8    False
23hurtadoj    -5.5           None    False
23pic         -3.0           None    False
23raymondj    -9.0           None    False
24bonin       -7.5              0    False
24bourgare    -3.4              1    False
24Caillaut    -6.5              6    False
24guiard      -5.0             ne    False
24leguevel    -9.0              8    False
24vendeuvr    -2.5              9    False
i18perard     -4.0           None    False
i19minck      -5.0           None    False
i19podda      -6.0           None    False
i19villarea   -3.0           None    False
i20mornet     -5.0   ine : Nantes    False
i23chalayer  -10.0             ne    False

In [54]:
df = df.assign(year=None)

In [68]:
for id in df.index:
    if id[0]!='i':
        df.loc[id, 'year'] = id[0:2]
    else :
        df.loc[id, 'year'] = id[1:3]

In [69]:
df

             Solde             num num_bool year
Id
16alfarool    -4.5              ""    False   16
16ayhan       -5.0  06 15 47 38 98     True   16
16blanchet    -3.0  06 34 69 30 04     True   16
16boudy       -2.5               0    False   16
16girod       -4.0               9    False   16
...            ...             ...      ...  ...
i22sarpy      -5.5            None     None   22
i23blachon    -2.5  06 37 41 94 87     True   23
i23chalayer  -10.0              ne    False   23
i23villette  -33.0  07 51 60 48 13     True   23
i24roux       -9.0  06 69 76 35 72     True   24

[254 rows x 4 columns]

In [71]:
df.to_csv('18_10_2024.csv')